vector_version: "0.22.1"
vector_download_url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm"
vector_config_dir: "/etc/vector"
vector_clickhouse_host: "{{ hostvars['clickhouse-01'].ansible_host | default('clickhouse-01') }}"
vector_clickhouse_port: "{{ hostvars['clickhouse-01'].clickhouse_http_port | default('8123') }}"
vector_config:
  sources:
    demo_logs:
      type: demo_logs
      format: syslog
  sinks:
    to_clickhouse:
      type: clickhouse
      inputs:
        - demo_logs
      database: logs
      endpoint: "http://{{ vector_clickhouse_host }}:{{ vector_clickhouse_port }}"
      table: vector_table
      compression: gzip
      healthcheck: true
      skip_unknown_fields: true
